<!-- $Id: Styles.css,v 1.7 2012/07/20 11:02:39 siva Exp $-->

.GlobalNavigationFrameText {
	font-family: Verdana, Arial, Tahoma, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}


.SystemInformationFrameBGColor {
	background-color :"#6E6E6E"
}

.SystemInformationFrameText {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
}

.ActiveObjectFrameBGColor {
	/*background-color :"#00339A"*/
	background-color :#E77471 
}


.ActiveObjectFrameText {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: #6E6E6E;
}

.SubNavigationTabUnSelected {	
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
        color : #E77471;
	background: url("/iss/tabbg.gif");
	text-decoration: none;
}

.SubNavigationTabSelected {	
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
	color : #000000;
	background: url("/iss/tabbg1.gif");
}

.LowerSubNavigationFrameBGColor {
	background-color :"#FFFFFF"
}

.LowerSubNavigationTabUnSelected {	
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 10pt;
	color : "#000000";
}

.LowerSubNavigationTabSelected {	
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 10pt;
	color : "#0033CC";
}

.ObjectTreeFrameBGColor {
	background-color :#FF0000
}


.DataFrameBGColor {
	background-color :"#FFFFFF"
}

.DataFramePageTitle {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 14pt;
	color: #6E6E6E;
	/*text-indent:15px;*/
	/*position: absolute;*/
	position: relative;
	top: 20px;
	left: 15px;
		
}

.DataFramePromptText {

	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 11pt;
	color: #000000;
	position: relative;
	top: 40px;
	left: 15px;

}

.DataFrameTable {
	position: relative;
	top: 55px;
	left: 15px; 
}

.DataFrameTable th {

	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #000000;

}

.DataFrameTable tr.DataFrameTableAlternateColor {
    
background-color :"#6E6E6E";
	/*background-color :"#ADBEE7";*/
	
}

.DataFrameTable td {

	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 11pt;
	color: #6E6E6E;

}

.TopLedLabel {
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #000000;
}


#centeredmenu {
   float:left;
   font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
   font-size: 7pt;
   font-weight: bold;
   background:#656565;
   width:100%;
   height:19px;
   overflow:hidden;
   position:relative;
}


#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   text-align:center;
}

#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;		     
 }


 #centeredmenu ul li a {
    display:block;
    margin:0 0 0 2px;
    border-top: 1px solid #656565;
    border-top-left-radius: 1em 1em;
    border-top-right-radius: 1em 1em;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    padding:3px 10px;
    background:#D3D3D3;
    color:#E77471;
    text-decoration:none;
  }

  #centeredmenu ul li a:hover {
     background:#E77471;
     color:#fff;
  }
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
        font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
        font-size: 7pt;
	font-weight: bold;
	Color:#000;
 	background:#fff;
	padding:4px 35px;
	border-bottom: 5px solid #FFF;
  }



      #wrap {
          width:750px;
	      margin:0 auto;
	          background:#99c;
		      }


		      #header {
		      padding:5px 10px;
		      background:#ddd;
		      }

		      #main {
		      float:left;
		      width:480px;
		      padding:10px;
		      background:#9c9;
		      }
		      #sidebar {
		      float:right;
		      width:230px;
		      padding:10px;
		      background:#99c;
		      }
