
BODY.firstlevel { background: white; font: normal bold 12pt Arial, Verdana, Helvetica; margin-top: 0; margin-left: 0 }
BODY.secondlevelmenu { background: white; font: normal bold 12pt Arial, Verdana, Helvetica; margin-top: 0; margin-left: 0; color: white }
BODY.secondlevel { background: white; font: normal normal 12pt Arial, Verdana, Helvetica; color: black }

A:link.firstlevel { color: black }
A:active.firstlevel { color: black }
A:visited.firstlevel { color: black }

P.leftalignsecondlevelmenu { font: normal bold 12pt Arial, Verdana, Helvetica; color: white }
P.centeralignsecondlevelmenu { font: normal bold 12pt Arial, Verdana, Helvetica; color: white; text-align: center }

P.leftalign { font: normal normal 12pt Arial, Verdana, Helvetica; color: black }
P.centeralign { font: normal normal 12pt Arial, Verdana, Helvetica; color: black; text-align: center }

P.leftalignthirdlevel { font: normal bold 12pt Arial, Verdana, Helvetica; color: black }
P.centeralignthirdlevel { font: normal bold 12pt Arial, Verdana, Helvetica; color: black; text-align: center }

A:link.secondlevel { color: white }
A:active.secondlevel { color: white }
A:visited.secondlevel { color: white }

A:link.thirdlevel { color: #FF0000 }
A:active.thirdlevel { color: #FF0000 }
A:visited.thirdlevel { color: #FF0000 }

H1 { font: normal bold 20pt Arial, Verdana, Helvetica; text-align: center; color: #FF0000 }
H2 { font: normal bold 15pt Arial, Verdana, Helvetica; text-align: center; color: #DD0000 }

TABLE.firstlevel { border: 0; width: 100%}
TABLE.secondlevel { align: center; border: thin solid black; background: #EEEEEE}

TD.firstlevel { background: white; valign: top; font: normal }
TD.header { background: #6E6E6E; valign: top; text-align: center; font: normal bold 10pt Arial, Verdana, Helvetica; color: white; border: thin }
TD.leftalign { background: #EEEEEE; valign: top; text-align: left; font: normal; border: thin }
TD.centeralign { background: #EEEEEE; valign: top; text-align: center; font: normal; border: thin }

INPUT.bordercolor { background: #FFF8E6; border: thin }
INPUT.bordercolortd { background: #D8E4E9; text-align: right; border: thin }
